
/* HTML TAGS */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: black;
 
}

header {
  display: flex;

  align-items: center;
  background-color: #808080;

}

footer {
  background-color: #808080;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 40px;
}

section {
  background-color: #fff;
}


img {
  width: 300px; 
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid #fff;
}

aside {

  background-color: #d3d3d3;
  width: auto;
 
}

p {
  line-height: 18px;
}


/* ID's */

#myHeader {
  display: flex;

  flex-direction: column; 
  align-items: center;
  text-align: left;
  width: -webkit-fill-available;
}

#myPicture {
  width: auto;
}

#intro {
  width: auto;
    align-items: center;
    text-align: center;
}

#placeHolder {
  width: 40%;
}


#title {
  font-size: 25px;
  color: #fff;
  padding-bottom: 20px;
}

#hire {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#content {
  width: 100%;
}

ul#menuItems {
  list-style-type: none;
  padding-left: 0;
}

ul#menuItems li {
line-height: 30px;
}

#softSkills {
  width: 30%;
}
#hardSkills {
width: 70%;
}

.section-titles {
  font-size: 20px;
}

/* CLASSES */

h2.example {
  color: #fff;
}

.menuLinks {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background-color: red;
  color: #fff;
}

.greenText {
  color: #4CAF50;
}